html[data-theme='light'] {
    --background-color: #fff;
    --text-color: #1e1e1e;
    --accent: #9b79f7;
    --btn-back-upload: #AF125A;
    --btn-muted-upload: #6a0b37;
    --btn-back-clear: #4e4e4e;
    --muted: #999;
}

html[data-theme='dark'] {
    --background-color: #1e1e1e;
    --text-color: #FFF;
    --accent: #3e3e3e;
    --btn-back-upload: #87ceeb;
    --btn-back-clear: #676767;
    --btn-muted-upload: #537e8f;
    --muted: #ccc;
}

html {
    background-color: var(--background-color);
    font-family: Verdana;
    
}

.navbar, .btn {
    border: none;
}

body{
    margin: 0px;
}

.navbar {
    background: var(--accent);
    padding-bottom: 1.1em;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.5em;
    margin-bottom: 1em;
}

form {
    padding: 5%;
}

form, .dropzone, .selected-file-wrapper, .App>div>div, h1, h2, h3, .txt {
    text-align: center;
}

footer, .dropzone {
    width: 80%;
    margin: auto;
}

footer {
    position: absolute;
    bottom: 0%;
    padding: 2%;
    margin-left: 8%;
}

html, a, .btn, .selected-file {
color: var(--text-color);
}

.upload {
display: none;
}

.navbar-brand, .App>div>div {
font-family: Verdana;
font-size: 120%;
}

.btn {
background-color: var(--accent);
padding: 1% 2%;
cursor: pointer;
color: var(--background-color);
font-size: 110%;
}

.dropzone {
border: 3px dashed var(--btn-back-upload);
color: var(--muted);
cursor: pointer;
margin-bottom: 20px;
margin-top: 20px;
border-radius: 5px;
padding: 5%;
}

.btn-success {
background-color: var(--btn-back-upload);
color: var(--background-color);
}

.btn:disabled{
cursor: default;
}

.imgPreview {
max-width: 250px;
max-height: 200px;
}

.logoLink {
text-decoration: none;
}

.btn-success:disabled{
background-color: var(--btn-muted-upload) !important;
color: var(--muted) !important;
}

.resultImg {
max-width: 500px;
}

.btn:disabled{
background-color: var(--accent);
color: var(--muted);
}

.wrapperRes, .resultBtns {
display: flex;
align-items: center;
justify-content: center;
margin-top: 1%;
}

.btn-success{
margin-right: 1%;
}

.MuiFormControlLabel-root {
float: right;
}
.fa-spinner {
font-size: 200%;
margin-top: 1%;
}
.pallette{
border: 1px solid black;
width: 200px;
padding: 0.5%;
height: 10px;
margin: auto;
background: rgb(253,231,37);
background: linear-gradient(270deg, rgba(253,231,37,1) 0%, rgba(122,209,81,1) 20%, rgba(34,168,132,1) 40%, rgba(42,120,142,1) 60%, rgba(65,68,135,1) 80%, rgba(68,1,84,1) 100%);

}

.menuLink{
float: right;
padding-left: 5%;
font-size: 120%;
text-decoration: none;
}
.abt-info {
    width: 80%;
    margin: auto;
    text-align: center;
}
.abt-info div {
    text-align: justify !important;
    line-height: 160%;
}
.App div a {
    color: var(--btn-back-upload);
    text-decoration: none;
    font-weight: 900;
}

li {
    text-align: justify;
    line-height: 160%;
    font-size: 120%;
}
.App div a {
    color: var(--btn-back-upload);
    text-decoration: none;
    font-weight: 900;
}