<!DOCTYPE html>
<html lang="en">
    <head>
        <title>EasyDiag — forearm fracture diagnostics made easy! </title>
        <meta charset="utf-8" />
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    </head>
    <body>
        <div id="render-react-here"></div>
        {% compress 'js' %}
        <script type="text/javascript" src="{{ url_for('static', filename='dist/main.bundle.js') }}"></script>
        {% endcompress %}
    </body>
</html>